/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/static/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/static/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Apply globally */
/* Reset default margins/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full height layout */
html,
body,
#root {
  height: 100%;
}

/* Global font */
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* prevent horizontal scroll */
}

/* Root layout */
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Main content takes remaining space */
main {
  flex: 1;
}

/* Hide scrollbar in webkit browsers */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
